# Import libraries

In [8]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from pymongo import MongoClient
import certifi
ca = certifi.where()

# DB Connection

In [15]:
client = MongoClient("mongodb+srv://mervebdurna:merve4161@mycluster.yrgvltw.mongodb.net/?retryWrites=true&w=majority",tlsCAFile=ca)
db = client['mydatabase']

# Read Data

In [16]:
df = pd.DataFrame(list(db.household_power_consumption.find()))

In [18]:
df.head()

,_id,index,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,6363a52bfe9f0a5bb5027259,1030580,1/12/2008,09:44:00,1.502,0.074,240.170,6.400,0.000,0.000,18.0
1,6363a52bfe9f0a5bb502725a,1815,17/12/2006,23:39:00,0.374,0.264,245.500,1.800,0.000,2.000,0.0
2,6363a52bfe9f0a5bb502725b,1295977,3/6/2009,17:01:00,0.620,0.300,239.850,3.000,0.000,1.000,1.0
3,6363a52bfe9f0a5bb502725c,206669,9/5/2007,05:53:00,0.280,0.200,235.720,1.400,0.000,0.000,0.0
4,6363a52bfe9f0a5bb502725d,1048893,14/12/2008,02:57:00,1.372,0.054,243.950,5.600,0.000,0.000,18.0