# Import libraries

In [39]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import datetime

from pymongo import MongoClient
import certifi
ca = certifi.where()

# DB Connection

In [15]:
client = MongoClient("mongodb+srv://mervebdurna:merve4161@mycluster.yrgvltw.mongodb.net/?retryWrites=true&w=majority",tlsCAFile=ca)
db = client['mydatabase']

# Read Data

In [22]:
df = pd.DataFrame(list(db.household_power_consumption.find()))

In [23]:
df.head()

,_id,index,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,6363a52bfe9f0a5bb5027259,1030580,1/12/2008,09:44:00,1.502,0.074,240.170,6.400,0.000,0.000,18.0
1,6363a52bfe9f0a5bb502725a,1815,17/12/2006,23:39:00,0.374,0.264,245.500,1.800,0.000,2.000,0.0
2,6363a52bfe9f0a5bb502725b,1295977,3/6/2009,17:01:00,0.620,0.300,239.850,3.000,0.000,1.000,1.0
3,6363a52bfe9f0a5bb502725c,206669,9/5/2007,05:53:00,0.280,0.200,235.720,1.400,0.000,0.000,0.0
4,6363a52bfe9f0a5bb502725d,1048893,14/12/2008,02:57:00,1.372,0.054,243.950,5.600,0.000,0.000,18.0

In [24]:
# remove unnecessary columns
df = df.iloc[:,2:]
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,1/12/2008,09:44:00,1.502,0.074,240.170,6.400,0.000,0.000,18.0
1,17/12/2006,23:39:00,0.374,0.264,245.500,1.800,0.000,2.000,0.0
2,3/6/2009,17:01:00,0.620,0.300,239.850,3.000,0.000,1.000,1.0
3,9/5/2007,05:53:00,0.280,0.200,235.720,1.400,0.000,0.000,0.0
4,14/12/2008,02:57:00,1.372,0.054,243.950,5.600,0.000,0.000,18.0

# Profiling Data

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   15000 non-null  object
 1   Time                   15000 non-null  object
 2   Global_active_power    15000 non-null  object
 3   Global_reactive_power  15000 non-null  object
 4   Voltage                15000 non-null  object
 5   Global_intensity       15000 non-null  object
 6   Sub_metering_1         15000 non-null  object
 7   Sub_metering_2         15000 non-null  object
 8   Sub_metering_3         15000 non-null  float64
dtypes: float64(1), object(8)
memory usage: 1.0+ MB

In [36]:
df.describe()

       Sub_metering_3
count    15000.000000
mean         6.566133
std          8.501203
min          0.000000
25%          0.000000
50%          1.000000
75%         17.000000
max         31.000000

In [28]:
# check number of unique values
df.nunique()

Date                     1432
Time                     1440
Global_active_power      2275
Global_reactive_power     409
Voltage                  2055
Global_intensity          225
Sub_metering_1             67
Sub_metering_2             68
Sub_metering_3             32
dtype: int64

# Dtype Validation

In [44]:
df['Date'] = pd.to_datetime(df['Date'])

In [45]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Date                   15000 non-null  datetime64[ns]
 1   Time                   15000 non-null  object
 2   Global_active_power    15000 non-null  object
 3   Global_reactive_power  15000 non-null  object
 4   Voltage                15000 non-null  object
 5   Global_intensity       15000 non-null  object
 6   Sub_metering_1         15000 non-null  object
 7   Sub_metering_2         15000 non-null  object
 8   Sub_metering_3         15000 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 1.0+ MB

In [33]:
df['Global_active_power'].unique()

array(['1.502', '0.374', '0.620', ..., '6.810', 0.228, '5.744'],
      dtype=object)