# Import libraries

In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import datetime

from pymongo import MongoClient
import certifi
ca = certifi.where()

# DB Connection

In [59]:
client = pymongo.MongoClient("mongodb+srv://mervebdurna:merve4161@mycluster.yrgvltw.mongodb.net/?retryWrites=true&w=majority")
db = client.testdb = client['mydatabase']

ConfigurationError: The resolution lifetime expired after 21.181 seconds: Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.; Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.; Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.; Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.; Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.; Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.; Server 192.168.0.1 UDP port 53 answered The DNS operation timed out.

# Read Data

In [58]:
df = pd.DataFrame(list(db.household_power_consumption.find()))

In [51]:
df.head()

,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,2008-01-12,09:44:00,1.502,0.074,240.170,6.400,0.000,0.000,18.0
1,2006-12-17,23:39:00,0.374,0.264,245.500,1.800,0.000,2.000,0.0
2,2009-03-06,17:01:00,0.620,0.300,239.850,3.000,0.000,1.000,1.0
3,2007-09-05,05:53:00,0.280,0.200,235.720,1.400,0.000,0.000,0.0
4,2008-12-14,02:57:00,1.372,0.054,243.950,5.600,0.000,0.000,18.0

In [52]:
# remove unnecessary columns
df = df.iloc[:,2:]
df.head()

,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,1.502,0.074,240.170,6.400,0.000,0.000,18.0
1,0.374,0.264,245.500,1.800,0.000,2.000,0.0
2,0.620,0.300,239.850,3.000,0.000,1.000,1.0
3,0.280,0.200,235.720,1.400,0.000,0.000,0.0
4,1.372,0.054,243.950,5.600,0.000,0.000,18.0

# Profiling Data

In [53]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Global_active_power    15000 non-null  object
 1   Global_reactive_power  15000 non-null  object
 2   Voltage                15000 non-null  object
 3   Global_intensity       15000 non-null  object
 4   Sub_metering_1         15000 non-null  object
 5   Sub_metering_2         15000 non-null  object
 6   Sub_metering_3         15000 non-null  float64
dtypes: float64(1), object(6)
memory usage: 820.4+ KB

In [54]:
df.describe()

       Sub_metering_3
count    15000.000000
mean         6.566133
std          8.501203
min          0.000000
25%          0.000000
50%          1.000000
75%         17.000000
max         31.000000

In [55]:
# check number of unique values
df.nunique()

Global_active_power      2275
Global_reactive_power     409
Voltage                  2055
Global_intensity          225
Sub_metering_1             67
Sub_metering_2             68
Sub_metering_3             32
dtype: int64

# Dtype Validation

In [56]:
df['Date'] = pd.to_datetime(df['Date'])

KeyError: 'Date'

In [57]:
 df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15000 entries, 0 to 14999
Data columns (total 7 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Global_active_power    15000 non-null  object
 1   Global_reactive_power  15000 non-null  object
 2   Voltage                15000 non-null  object
 3   Global_intensity       15000 non-null  object
 4   Sub_metering_1         15000 non-null  object
 5   Sub_metering_2         15000 non-null  object
 6   Sub_metering_3         15000 non-null  float64
dtypes: float64(1), object(6)
memory usage: 820.4+ KB

In [33]:
df['Global_active_power'].unique()

array(['1.502', '0.374', '0.620', ..., '6.810', 0.228, '5.744'],
      dtype=object)